// 함수와 동일하게 사용할 수 있다!!
// 기본값 설정 가능!
@mixin center($size: 100px, $color: royalblue) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $size;
  height: $size;
  background-color: $color;
}

.container {
  @include center(200px, orange);
  .item {
    // 키워드 인수! 해당하는 매개변수만 인자로 전달하고 싶을 경우 사용!
    @include center($color: green);
  }
}

// 위 코드를 css로 변환한다면,
// .container {
//   width: 200px;
//   height: 200px;
//   background-color: orange;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .container .item {
//   width: 100px;
//   height: 100px;
//   background-color: green;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
