$color: royalblue;

.container {
  h1 {
    color: $color;
    // scss 주석은 "//" "/**/" 두가지 방법이 있다.
    // "//" : 컴파일된 css 파일에는 삭제가 되어 있다.
    // "/**/" : 컴파일된 css 파일에 주석이 남아 있다.
    background-color: orange;
    font-size: 60px;
  }
}
